* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

:root {
    --logo-color: #fff;
    --primary-text-color: #21413c;
    --secondary-text-color: #7a7a7a;
    --section-bg-color: #f2f9f8;
    --primary-color: #1bac91;
    --white-color: #fff;
}

html {
    font-size: 13px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding: 4.9rem 0;
}

img {
    vertical-align: middle;
}


/* ================ BOSTRAP ========== */

.d-flex {
    display: flex;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1140px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-7 {
    max-width: 58.333333%;
}

.col-6 {
    max-width: 50%;
}

.col-4 {
    max-width: 33.333333%;
}

.col-3 {
    max-width: 25%;
}

.col-7,
.col-6,
.col-4,
.col-3 {
    width: 100%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

.ml-auto {
    margin-left: auto;
}

.pink {
    color: #ff689b;
}

.cyan {
    color: #3fcdc7;
}

.green {
    color: #41c82e;
}

.blue {
    color: #2282ff;
}


/* ================ Style page ========== */

.section-bg {
    background-color: var(--section-bg-color);
}

#header {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem 0;
    font-size: 1.1rem;
    background-color: #000;
}

.header__logo {
    color: var(--logo-color);
    margin-right: auto;
}

.header__logo h1 span {
    color: var(--primary-color);
}

.header__nav-menu {
    margin: auto 0;
}

.header__nav-menu>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 2.2rem;
    padding: 0.5rem 0;
}

.header__nav-menu>ul>li>a {
    color: var(--secondary-text-color);
}

.header__nav-menu .active {
    color: var(--white-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-menu .active a {
    color: var(--white-color);
}

.header__nav-menu>ul>li::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    border-bottom: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.header__nav-menu>ul>li:hover:before {
    width: 100%;
}

.header__nav-menu>ul>li:hover>a {
    color: var(--white-color);
}

.header__nav-menu .has-dropdown:hover .icon-dropdown {
    transform: rotate(180deg);
    transition-delay: 0.3s;
}

.header__nav-menu .has-dropdown:hover .icon-dropdown {
    transform: rotate(180deg);
    transition-delay: 0.3s;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 0.5rem 0;
    min-width: 15rem;
    background-color: var(--white-color);
    transition: all linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.dropdown::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    top: -0.5rem;
    left: 0;
    width: 100%
}

.dropdown li {
    display: block;
    position: relative;
    border-bottom: 1px rgb(230 225 225) solid;
}

.dropdown li:hover>a {
    color: var(--primary-color);
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    display: block;
    position: relative;
    color: var(--primary-text-color);
    padding: 0.8rem 1rem;
}

.dropdown .has-dropdown .icon-angle-left {
    position: absolute;
    right: 1rem;
}

.dropdown .dropdown {
    top: 30%;
}

.dropdown .has-dropdown>ul {
    position: absolute;
    left: calc(-100%);
    top: 0;
}

.has-dropdown:hover>.dropdown {
    visibility: visible;
    opacity: 1;
}

#hero {
    display: flex;
    z-index: 1;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 5.6rem);
    margin-top: 5.37rem;
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#hero .container {
    z-index: 2;
    transform: translateZ(0);
}

h1.hero--headline {
    font-size: 3.6rem;
    color: var(--white-color);
    margin-bottom: 0.3rem;
}

#hero .hero--title {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.btn {
    border: 1px solid var(--white-color);
    border-radius: 0.5rem;
}

.btn-get-started {
    display: inline-block;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.8rem 2.4rem;
    transition: all 0.3s ease-in-out;
}

#hero .btn-get-started:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.about img {
    width: 100%;
}

.about__headline {
    font-size: 2.8rem;
    font-weight: 100;
    margin-bottom: 0.8rem;
}

.about__subHeading {
    color: var(--secondary-text-color);
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.about__desc {
    margin-top: 3.3rem;
}

.about__desc--icon {
    float: left;
    font-size: 3.7rem;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.about__desc--icon:hover {
    transform: scale(1.2);
}

h3.about__desc--title {
    font-size: 1.7rem;
    font-weight: 100;
    margin-left: 4.5rem;
    margin-bottom: 0.5rem;
}

h4.about__desc--subtitle {
    color: var(--secondary-text-color);
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 4.5rem;
    margin-bottom: 1rem;
}


/* =================== SECTION STEPS ================ */

.steps {
    padding: 3.9rem 0 3rem 0;
}

.steps .row {
    overflow: hidden;
}

.step__item {
    padding: 3rem;
    border-left: 1px solid #d4e9e6;
    border-bottom: 1px solid #d4e9e6;
    margin: -1px;
}

.step__item--number {
    font-size: 2rem;
    color: var(--primary-color);
}

.step__item--title {
    color: var(--primary-text-color);
    font-size: 2.1rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.step__item--content {
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.9rem;
}


/* ========================== SECTION FEATURES ========================  */

.features .nav__item:not(:first-child) {
    margin-top: 0.5rem;
}

.features .nav__item--link {
    padding: 1.4rem;
    display: block;
    color: var(--primary-text-color);
    transition: all 0.3s ease-in-out;
}

.features .nav__item--link:hover {
    color: #1bac91;
}

.nav__item--link.active {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

.nav__item--link.active .item__link--title {
    color: var(--primary-color);
}

.item__link--title {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
}

.item__link--desc {
    font-size: 1.1rem;
}


/* ======================== SECTION SERVICES    ======================== */

.section--title {
    text-align: center;
    padding-bottom: 3.1rem;
}

.section--headline {
    font-size: 2.6rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    color: var(--primary-text-color);
}

.section__desc {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: var(--secondary-text-color);
}

.services__card {
    text-align: center;
    border-radius: 1.1rem;
    padding: 2.8rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
}

.services__card--icon {
    font-size: 3.8rem;
    margin-bottom: 1.1rem;
}

.services__card--title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.1rem;
}

.services__card--desc {
    font-size: 1.1rem;
    color: var(--secondary-text-color);
    line-height: 2.2rem;
}


/* ======================== SECTION TESTIMONIALS ======================*/

.testimonial__slider {
    display: flex;
}

.testimonial__item--content {
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 1rem;
    padding: 1.6rem 1.6rem 4.6rem 1.6rem;
    background-color: #eff7f6;
}

.testimonial__item .testimonial__item--content .quote-icon {
    display: inline-block;
    position: relative;
    color: #a8d3cc;
}

.testimonial__item .testimonial__item--content .quote-icon-left {
    left: -0.5rem;
}

.testimonial__item .testimonial__item--content .quote-icon-right {
    right: -0.5rem;
    top: 0.5rem;
}

img.testimonial__item--img {
    width: 7rem;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: -3.1rem 0 0px 3.1rem;
}

.testimonial__item--name {
    margin: 0.8rem 0 0.5rem 3.5rem;
    font-size: 1.4rem;
}

h4.testimonial__item--country {
    margin-left: 3.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--secondary-text-color);
}


/* ====================== SECTION PORTFOLIO ==================== */

.portfolio__filters {
    display: flex;
    margin: 0 auto 2.8rem auto;
    padding: 0.6rem 1.6rem;
    background-color: #fff;
    border-radius: 1.6rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.portfolio__filters li {
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.portfolio__filters .portfolio__filter--active,
.portfolio__filters li:hover {
    color: var(--primary-color);
}

.portfolio__item--wrap {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2.3rem;
}

.portfolio__item--wrap::before {
    content: "";
    position: absolute;
    top: 2.3rem;
    right: 2.3rem;
    bottom: 2.3rem;
    left: 2.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.portfolio__item--wrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px #fff solid;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.portfolio__item--info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.portfolio__item--img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
}

.portfolio__item--info .item__info--title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.portfolio__item--info .item__info--filter {
    color: rgb(212, 212, 212);
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.portfolio__item--info .item__info--link {
    margin-top: 0.8rem;
}

.portfolio__item--info .item__info--link a {
    font-size: 2.1rem;
    margin: 0 0.2rem;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.portfolio__item--info .item__info--link a:hover {
    color: var(--primary-color);
}

.portfolio__item--wrap:hover:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.portfolio__item--wrap:hover::after {
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
}

.portfolio__item--wrap:hover .portfolio__item--img {
    transform: scale(1.3);
}

.portfolio__item--wrap:hover::after,
.portfolio__item--wrap:hover::before,
.portfolio__item--wrap:hover .portfolio__item--info {
    opacity: 1;
}


/* ================ SECTION TEAM ===================*/

.team__member {
    position: relative;
    overflow: hidden;
}

.team .team__member--img {
    width: 100%;
}

.team__member--info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
}

.team .member__info--social {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.9rem;
    width: 3.9rem;
    font-size: 1.7rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.team .member__info--social a {
    display: block;
    color: var(--white-color);
    margin-top: 1.1rem;
    transition: 0.4s
}

.team .member__info--content {
    opacity: 0;
    position: absolute;
    left: 3.9rem;
    bottom: 0;
    right: 0;
    text-align: center;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.team .info__content--name {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.team .member__info--social a:hover {
    color: var(--primary-color);
}

.team__member:hover .member__info--social {
    left: 0;
    opacity: 1;
}

.team__member:hover .member__info--content {
    opacity: 1;
    transform: translateY(-80%);
}